*
{
    background-color: blueviolet;
}
.container
{
    height: 200px;
    width: 200px;
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(4,1fr);
    grid-auto-columns: 50px;
    grid-auto-rows: minmax(50px);
}
.items
{
    background-color: chartreuse;
    border-radius: 1px red solid;
    border-color: black;
}
